mat-error ::ng-deep{
    color: red;
}

.mat-card{
  background-color:#cce0ff !important;
  width: 500px;
  margin: 0 auto;
  border-radius: 30px !important;
}

.mat-raised-button{
    margin: 10px;
}

::ng-deep .panel-class {
  background: #cce0ff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    font-size: 8px;
}


.save{
    background-color: #c2f0c2;
}

.reset{
    background-color: #ff9980;
}


.col{
    padding: 10px 10px 10px 10px;
}

 ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #3385ff;
 }
