
<div class="container" rtl>
  <mat-horizontal-stepper linear #stepper>
    <ng-template matStepperIcon="form">
      <mat-icon>format_align_center</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <mat-step label="Fill out your informations" state="form">
<!--      <ng-container *ngIf="formValueChanges$ | async as updatedForm">
        {{update(updatedForm)}}
      </ng-container>-->
      <form [formGroup]="form" (ngSubmit)="submit(stepper)">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <mat-card>
              <div class="row">
                <img src = "../assets/images/mortgage-amount.jpg" width ="30px" height="30px"/>
                <mat-form-field class="col" >
                  <input matInput placeholder="{{ 'form.mortgage-amount' | translate }}"  style="border-radius:10px; border-width:2px"
                         formControlName="mortgageAmount">
                  <mat-error *ngIf="form.get('mortgageAmount').invalid">
                    {{ 'form.mortgage-amount-error' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <img src = '../assets/images/mortgage-interestRate.png' width ="30px" height="30px"/>
                <mat-form-field class="col" >
                  <input matInput placeholder="{{ 'form.mortgage-rate' | translate }}"
                         formControlName="mortgageRatePerPeriod">
                  <mat-error *ngIf="form.get('mortgageRatePerPeriod').invalid">
                    {{ 'form.mortgage-rate-error' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <img src = '../assets/images/mortgage-amort.png' width ="32px" height="32px"/>
                <mat-form-field class="input-row"  appearance="fill">
                <mat-label>{{ 'form.mortgage-amortization' | translate }}</mat-label>
                <mat-select formControlName="mortgageAmort" style="max-width:300px;border:none" panelClass="panel-class" required>
                  <mat-option *ngFor="let amortPeriod of amortPeriods" style="font-size: 12px; font-family: 'Calibri';" [value]="amortPeriod">
                    {{amortPeriod}}
                  </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <img src = '../assets/images/mortgage-freq.png' width ="30px" height="30px"/>
                <mat-form-field class="input-row"  appearance="fill">
                  <mat-label>{{ 'form.mortgage-nbRepayments' | translate }}</mat-label>
                  <mat-select formControlName="mortgageNbRepayments" panelClass="panel-class" required>
                    <mat-option *ngFor="let nbRepay of nbRepayments" style="font-size: 12px; font-family: 'Calibri';" [value]="nbRepay">
                      {{nbRepay}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <img src = '../assets/images/mortgage-term.png' width ="25px" height="30px"/>
                <mat-form-field class="input-row"  appearance="fill">
                  <mat-label>{{ 'form.mortgage-repaymentEvery' | translate }}</mat-label>
                  <mat-select formControlName="mortgageRepaymentEvery" panelClass="panel-class" required>
                    <mat-option *ngFor="let payEvery of repaymentEvery"  style="font-size: 12px; font-family: 'Calibri';" [value]="payEvery">
                      {{payEvery}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row buttons d-flex justify-content-between pad">
                <button class="save" mat-raised-button color="primary" (click)="save()">
                  <mat-icon>send</mat-icon>{{ 'form.calculate' | translate }}
                </button>
                <button type="reset"  class="reset" mat-raised-button color="warn" (click)="reset()">
                  <mat-icon>refresh</mat-icon>{{ 'form.reset' | translate }}
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step state="done">
      <ng-template matStepLabel>Payment Schedule</ng-template>
      <div *ngIf="showPaymentTable">
      <app-paymenttable></app-paymenttable>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
