/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';

@import 'app/app.component.scss-theme';


@mixin custom-components-theme($nb-themes) {
  @include app-component-theme($nb-themes);
}

.default-theme {
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.custom-dialog-container .mat-dialog-container {
  font-size:'16px';
  font-family:'Display';
  color:'#0f968d';
}


